[submodule "nginx-proxy"]
	path = nginx-proxy
	url = git@github.com:hasufell/nginx-proxy.git
[submodule "phantomjs"]
	path = phantomjs
	url = git@github.com:hasufell/docker-phantomjs-casperjs-ipv6.git
[submodule "dockermail"]
	path = dockermail
	url = git@github.com:hasufell/dockermail.git
[submodule "gentoo-amd64-paludis/paludis-gentoo-git-config"]
	path = gentoo-amd64-paludis/paludis-gentoo-git-config
	url = git@github.com:hasufell/paludis-gentoo-git-config.git
